@font-face {
  font-family: 'iconfont';
  /* project id 1563864 */
  src: url('//at.alicdn.com/t/font_1563864_fjufivzsyp.eot');
  src: url('//at.alicdn.com/t/font_1563864_fjufivzsyp.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1563864_fjufivzsyp.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1563864_fjufivzsyp.woff') format('woff'),
    url('//at.alicdn.com/t/font_1563864_fjufivzsyp.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1563864_fjufivzsyp.svg#iconfont') format('svg');
}

.iconfont {
  font-family: 'iconfont';
  font-size: 20px;
}

.el-collapse-item__content {
  height: 100%;
  ;
}

.el-collapse-item__wrap {
  height: 100%;
}